.todo_container {
  background-color: #f4ead5bc;
  outline: solid white 2px;
  border-radius: 10px;
  padding: 5px 0px;
  margin: 10px 0;
  color: #353434;
  position: relative;
  /* width: 100%; */
  display: flex;
  flex: 1;

  .subTodos_container{
    flex: 1;
  }
  .checkbox{
    position: absolute;
    top: 5px;
    right: 5px;
    display:flex;
    gap:5px
  }
  img {
    width: 20px;
  }
  .CTAS_container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 10px;

    .CTAS {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      margin-right: 20px;
    }
    .rotate-90deg{
      transform: rotate(90deg);
    }
  }
  .head_container {
    width: 99%;
    position: relative;
    display: flex;
    flex-direction: column;

    

    .adc {
      padding: 0;
      width: 100%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
}

.btns {
  display: flex;
  form {
    flex: 1;
    display: flex;
  }
  img {
    width: 20px;
  }
  input[type="text"] {
    margin-left: 10px;
    margin-top: 10px;
    width:100%;
  }
  
}

.hide {
  display: none;
}

.completed{
  background-color: #80f493bc !important;
}