.todo_container {
  background-color: #f4ead5bc;
  outline: solid white 2px;
  border-radius: 10px;
  padding: 5px 0px;
  margin: 6px 0;
  color: #353434;
  position: relative;
  /* width: 100%; */
  display: flex;
  flex: 1 1;

  .subTodos_container{
    flex: 1;
  }
  .checkbox{
    position: absolute;
    top: 5px;
    right: 5px;
    display:flex;
    gap:5px
  }
  img {
    width: 20px;
  }
  .CTAS_container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    width: 97%;

    .CTAS {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding-right: 6px;
    }
    .rotate-90deg{
      transform: rotate(90deg);
    }
  }
  .head_container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .todo_title{
      flex: 1 1;
      background-color: #FFFBE9;
      border-radius: 5px;
      padding: 10px;

      form{
        display:flex;
        input{
          background-color: #ebcca8;
    padding: 10px;
    flex: 1;
        }
      }
    }

    .adc {
      padding: 0;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0;
      padding-left: 42px;
    }
  }
}

.btns {
  display: flex;
    width: 100%;
    justify-content: flex-start;
  form {
    display: flex;
    width: 93%;
    justify-content: flex-end;
    margin-left: 40px;
    flex-direction: row;
    align-items: center;
    gap: 17px;

    .cancelbtn{
      background-color: #feffff;
    border: solid 1px black;
    border-radius: 5px;
    padding: 6px;
    }

    input[type="text"]{
      width: 100%;
      margin: 10px 0;
    }
  }
  img {
    width: 20px;
  }
  input[type="text"], input[type="password"] {
    margin-left: 10px;
    margin-top: 10px;
    width:100%;
  }
  
}

.hide {
  display: none !important;
}

.completed{
  background-color: #80f493bc !important;
}