@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

// colorpellate used  darker at bottom
// #FFFBE9 1. |
// #F4EAD5 2. |
// #DAE2B6 3. |
// #CCD6A6 4.\/
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}
#root{
  width: 100%;
  padding: 0 20px;
  display: flex;
}
body{
  margin:0;
  padding:0;
  background:#CCD6A6;
  color:#898121;
  font-family: 'Signika', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;

  .main_container{
    background-color: #DAE2B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F4EAD5;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
    position: relative;
    flex: 1;

    .logoutBtn{
      position: absolute;
    top: 10px;
    right: 10px;
    }

    .parent_todo_head{

      h1{
        text-align: center;
      }
      .main_input_container{
        display: flex;
    align-items: center;
      }
      .main_input{
        margin: 0 20px 0 20px !important;
        width: 300px;
      }
    }
    
  }
  .todos_list_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  input{
    border-radius: 10px;
    border: none;
    background-color: cornsilk;
    font-size: 18px;
  }

  input[type="text"], input[type="password"] {
    height: 35px;
    width: 85%;
    padding:0 10px;
    font-family: 'Signika', sans-serif;
}
}

textarea {
  // resize: vertical;
  // box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}